<ion-tabs>
    <ion-tab-bar *ngIf="keycloak.authenticated" slot="bottom">
        <ion-tab-button tab="items" href="/fab/items">
            <ion-icon aria-hidden="true" name="home"></ion-icon>
            <ion-label>Items</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="cart" href="/fab/cart">
            <ion-icon aria-hidden="true" name="cart"></ion-icon>
            <ion-label>Einkaufswagen</ion-label>
            <ion-badge *ngIf="numberOfItemsInCart > 0" color="success">{{numberOfItemsInCart}}</ion-badge>
        </ion-tab-button>

        <ion-tab-button tab="orders" href="/fab/orders">
            <ion-icon aria-hidden="true" name="reorder-four"></ion-icon>
            <ion-label>Übersicht</ion-label>
        </ion-tab-button>

        @if (keycloak.hasRealmRole('admin')) {
        <ion-tab-button tab="admin" href="/fab/admin">
            <ion-icon aria-hidden="true" name="beer"></ion-icon>
            <ion-label>Admin</ion-label>
        </ion-tab-button>
        }
    </ion-tab-bar>
</ion-tabs>
