<app-header [title]="'Einkaufswagen'"></app-header>

<ion-content [fullscreen]="true">
    @for (item of cartItems; track item.pk) {
    <ion-item>
        <ion-label>
            <h1>{{item.name}}</h1>
            <h2>{{item.quantity}} x {{item.quantity | number: '1.2-2' }}€</h2>
            <h2>Gesamt: {{item.total | number: '1.2-2'}}€</h2>
        </ion-label>
        <ion-button size="default">
            <ion-icon name="trash"></ion-icon>
        </ion-button>
    </ion-item>
    }

    <ion-toast [color]="toastColor" [isOpen]="isToastOpen" [message]="toastMessage" [duration]="5000" (didDismiss)="setToastOpen(false)"></ion-toast>
</ion-content>
<ion-footer [translucent]="true">
    <ion-toolbar>
        <ion-label slot="start">
            <h1>Gesamt: {{fullTotal | number: '1.2-2'}}€</h1>
        </ion-label>
        <ion-button slot="end" (click)="orderCart()">Bestaetigen</ion-button>
    </ion-toolbar>
</ion-footer>
