<app-header [title]="'Items'"></app-header>

<ion-content [fullscreen]="true">
    @for (item of items; track item.pk) {
    <ion-item>
        <ion-label>
            <h1>{{item.name}}</h1>
            <h2>{{item.price | number: '1.2-2' }}€</h2>
        </ion-label>
        <ion-button size="default" (click)="addToCart(item)">
            <ion-icon name="add"></ion-icon>
        </ion-button>
    </ion-item>
    }

    <ion-toast [color]="toastColor" [isOpen]="isToastOpen" [message]="toastMessage" [duration]="5000" (didDismiss)="setToastOpen(false)"></ion-toast>
</ion-content>
